<!DOCTYPE HTML>
<html ng-app="testbed">
    <head>
        <meta charset="utf-8">
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>Ангулярная директива files</title>
    </head>
    <body>
        <form name="frm" ng-controller="ExampleController">
            <section>
                <h3>Пример с ng-required (false), одновыборный</h3>
                <div>
                    <input type="file" name="f0" ng-required="false" files ng-model="file0">
                </div>
                <pre ng-show="file0">{{showFile(file0)}}</pre>
                <pre ng-hide="file0">не выбрано</pre>
                <pre>ошибки: {{frm.f0.$error}}</pre>
            </section>
            <hr>
            <section>
                <h3>Пример с ng-required (true) и accept, одновыборный</h3>
                <div>
                    <input type="file" name="f1" ng-required="true" accept="image/jpeg,image/png" files ng-model="file1">
                </div>
                <pre ng-show="file1">{{showFile(file1)}}</pre>
                <pre ng-hide="file1">не выбрано</pre>
                <pre>ошибки: {{frm.f1.$error}}</pre>
            </section>
            <hr>
            <section>
                <h3>Пример с required и accept, мультивыборный</h3>
                <p>Если выбрать одновременно и приемлемый файл, и неприемлемый, то в модели будет undefined. Но если применить директиву ngModelOptions, то будет список выбранных файлов. Применять так: <code>ng-model-options="{allowInvalid:true}"</code>.</p>
                <div>
                    <input type="file" name="f2" multiple required accept="image/jpeg,image/png" files ng-model="files0">
                </div>
                <ol>
                    <li ng-repeat="file in files0"><pre>{{showFile(file)}}</pre></li>
                </ol>
                <pre ng-show="!files0.length">не выбрано</pre>
                <pre>ошибки: {{frm.f2.$error}}</pre>
            </section>
            <hr>
            <section>
                <h3>Пример без валидации, мультивыборный</h3>
                <div>
                    <input type="file" name="f3" multiple files ng-model="files1">
                </div>
                <ol>
                    <li ng-repeat="file in files1"><pre>{{showFile(file)}}</pre></li>
                </ol>
                <pre ng-show="!files1.length">не выбрано</pre>
            </section>
            <hr>
            <section>
                <h3>Пример с base64 и валидаторами</h3>
                <div>
                    <input type="file" name="f4" required accept="image/jpeg,image/png" files base64 ng-model="file2">
                </div>
                <pre ng-show="file2"><a ng-href="{{file2.dataUri}}" download="{{file2.name}}">{{showFile(file2)}}</a></pre>
                <pre ng-hide="file2">не выбрано</pre>
                <pre>ошибки: {{frm.f4.$error}}</pre>
            </section>
            <hr>
            <section>
                <h3>Пример с base64 без валидаторов</h3>
                <div>
                    <input type="file" name="f5" files base64 ng-model="file3">
                </div>
                <pre ng-show="file3"><a ng-href="{{file3.dataUri}}" download="{{file3.name}}">{{showFile(file3)}}</a></pre>
                <pre ng-hide="file3">не выбрано</pre>
            </section>
            <hr>
            <section>
                <h3>Пример с base64, мультивыборный</h3>
                <div>
                    <input type="file" name="f6" files multiple base64 ng-model="files2">
                </div>
                <ol>
                    <li ng-repeat="file in files2"><pre><a ng-href="{{file.dataUri}}" download="{{file.name}}">{{showFile(file)}}</a></pre></li>
                </ol>
                <pre ng-show="!files2.length">не выбрано</pre>
            </section>
            <hr>
            <section>
                <h3>Пример с динамическим accept</h3>
                <div>
                    <input type="file" name="f7" required accept="{{types}}" files ng-model="file4">
                    <input type="text" ng-model="types">
                </div>
                <pre ng-show="file4">{{showFile(file4)}}</pre>
                <pre ng-hide="file4">не выбрано</pre>
                <pre>ошибки: {{frm.f7.$error}}</pre>
            </section>
            <hr>
            <section>
                <h3>Пример с динамическим maxsize</h3>
                <div>
                    <input type="file" name="f8" maxsize="size" files ng-model="file5">
                    <input type="number" ng-model="size">
                </div>
                <pre ng-show="file5">{{showFile(file5)}}</pre>
                <pre ng-hide="file5">не выбрано</pre>
                <pre>ошибки: {{frm.f8.$error}}</pre>
            </section>
        </form>

        <script src="node_modules/angular/angular.js"></script>
        <script src="files-binder.js"></script>
        <script src="testbed.js"></script>
    </body>
</html>
